<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/styles2.css" />
    <title>GastroAcre</title>
  </head>
  <body>
    <nav>
      <a href="../index.html">Home</a>
      <a href="sobre.html">O Chefe</a>
    </nav>
    <main>
      <section class="section-story">
        <h1>GastroAcre</h1>
        <h2>
          Um pedacinho do Acre através de algumas receitas da gastronomia local.
        </h2>
        <h3>Novo Usuário</h3>
        <div class="cad">
          <form action="https://submit-form.com/fLJuHzvt" method="post">
           
            <label for="email">E-mail: </label>
            <input type="email" name="email"  placeholder="Digite seu e-mail"  required>
          
       
            <label for="password">Senha: </label>
            <input type="password" name="password" placeholder="minimo 8 caracteres "
  
             minlength="8" maxlength="20" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,20}$" required>
          
        
            <label for="verifica-password">Confirma Senha: </label>
            <input type="password"  name="verifica-password" placeholder="Confirme Senha" 
            minlength="8" maxlength="20" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,20}$"  required>
          
            <input type="submit" value="Cadastrar">
          
          </form>
          

        </div>
         
        
      
      </section>
      <a href="../index.html"><img src="https://img.icons8.com/nolan/64/u-turn-to-left.png" /></a>

     
    </main>
    <footer>
      <a href="./views/sobre.html">&copy; Copyright O CHEFE</a>
    </footer>
  </body>
</html>
