<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../public/css/styles.css" />
  <title>GastroAcre</title>
</head>

<body>
  <header>
    <a href="../index.html">Home</a>
    <a href="receitas.html">Receitas</a>
    <a href="sobre.html">O Chefe</a>
  </header>
  <main>
    <section class="imgMaisDescricao">
      <h1><strong>Creme de Copuaçu</strong></h1>
      <img src="../public/images/pratos/creme-cupuacu.webp" />
      <iframe width="560" height="315" src="https://www.youtube.com/embed/esX4KRrCKAM" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
      <h3>
        O cupuaçu é uma fruta típica da região de floresta amazônica, e isso
        inclui o Acre. Na região não é feita apenas creme com essa fruta, mas
        diversos tipos de doces. Além de bombons, também é comum ver picolés e
        sorvetes, não só na região Norte, mas em todo o País.</br>
        Tempo de preparo de 20 minutos e rende até 10 porções.
      </h3>
    </section>
    <section class="ingredientesMaisModo">
      <article>
        <ul>
          <h3>Ingredientes</h3>

          <li>500 g de polpa de cupuaçu</li>
          <li>1 lata de creme de leite</li>
          <li>1 lata de leite condensado</li>
          <li>100 ml de água</li>

        </ul>
      </article>
      <article>
        <ol>
          <h3>Modo de Preparo</h3>

          <li>
            <p>Acrescente todos os ingredientes no liquidificador, mexa um pouco e bata até virar um creme homogêneo.
            </p>
          </li>
          <li>
            <p>Despeje em uma travessa e leve ao congelador</p>
          </li>
          <li>
            <p>Depois de cerca de 3 horas, sirva.</p>
          </li>
        </ol>
        <a href="../index.html"><img src="https://img.icons8.com/nolan/64/u-turn-to-left.png" /></a>
      </article>

    </section>

  </main>

  <footer><a href="sobre.html">&copy; Copyright O CHEFE</a></footer>
</body>

</html>