<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/estudo.css" />
    <title>Document</title>
</head>
<!-- <body>
    <header>
        <div class="header">Div header 1</div>
        <div class="header"> Div header 2</div>

    </header>
    <main>
        <div class="main">Div main 1</div>
        <div class="main">Div main 2</div>
        <div class="main">Div main 3</div>
        <div class="main">Div main 4</div>
    </main>
    <footer>
        <div class="footer">Div footer 1</div>
    <div class="footer">Div footer 1</div>
    </footer>
</body>
    
</html> -->





<html>
  <head>
    <title>Elementos de bloco</title>
  </head>
  <body>
    <header>Protótipo de site</header>

    <section>HTML + CSS + JS</section>
    <section>HTML + CSS + JS</section>
    <section>HTML + CSS + JS</section>

    <footer>Contacte-nos</footer>
  </body>
</html>

<!-- <html>
  <head>
    <title>Elementos de bloco</title>
  </head>
  <body>
      <main>
          <div>HTML + CSS + JS</div>
          <div>HTML + CSS + JS</div>
          <div>HTML + CSS + JS</div>
      </main>


    <footer>Contacte-nos</footer>
  </body>
</html> -->



















