<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/styles.css" />
    <title>Meu Bolo Favorito</title>
  </head>
  <body>
    <header>
      <!-- <h1 id="title"><strong>Bolo de Milho</strong></h1> -->
      <a href="index.html">Home</a>
      <a href="receitas.html">Receitas</a>
      <a href="sobre.html">O Chefe</a>
    </header>
    <main>
      <section id="imgMaisDescricao">
        <h1 id="title"><strong>Bolo de Milho</strong></h1>
        <img id="imgReceita" src="../public/images//boloMilho.jpg" />
        <iframe
          id="iframeReceita"
          src="https://www.youtube.com/embed/lNAyUw94eTY"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <h2 id="descricaoReceita">
          O bolo de milho é um dos mais tradicionais do país.<br />
          Ele marca presença não apenas nos cafezinhos e na primeira refeição do
          dia.<br />Essa receita irá render 12 fatias e o tempo medio de preparo
          e de 40 minutos.
        </h2>
      </section>
      <section id="ingredientesMaisModo">
        <article>
          <!-- <div class="tabela"> -->
            <!-- <div id="tbIngredientes"> -->
              <ul>
                <h3>Ingredientes</h3>
                <li>1 lata de milho verde com água e tudo</li>
                  <li>Meia lata da mesma de óleo</li>
                  <li>1 lata da mesma de açúcar</li>
                  <li>Meia lata da mesma de fubá 4 ovos</li>
                  <li>2 colheres bem cheias de farinha de trigo</li>
                  <li>2 colheres de coco ralado</li>
                  <li>1 colher e meia de chá bem cheia de fermento em pó</li>
              </ul>
           <!--  </div> -->
          </article>
        <article>
            <!-- <div id="modo"> -->
              <ol>
                <h3>Modo de Preparo</h3>
                <li>
                  Bata bastante todos os ingredientes no liquidificador. Depois
                  acrescente coco ralado, fermento e misture. Coloque para assar.
                </li>
                <li>
                  Coloque na forma redonda com buraco e na quadrada. A forma deverá
                  ser untada e enfarinhada.
                </li>
                <li>
                  O tempo de preparo na redonda é mais rápido, mas a receita fica
                  menor. Para aumentar, faça com o dobro dos ingredientes.
                </li>
                <li>O bolo fica parecendo pamonha, bem cremoso, uma delicia!</li>
                <li>
                  Leve ao forno preaquecido a 180 graus Celsius por,
                  aproximadamente, 40 minutos.
                </li>
              </ol>
            <!-- </div>
          </div> -->
            
        </article>
      </section>
    </main>          
    
    
    
    <footer ><a href="sobre.html">&copy; Copyright O CHEFE</a></footer>

    
  </body>
</html>
