<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../public/css/styles.css" />
    <title>Sobre o Chefe</title>
  </head>
  <body>
    <header>
      <!-- <h1 id="title">Bruno Guedes</h1> -->
      <a href="index.html">Home</a>
      <a href="receitas.html">Receitas</a>
      <a href="sobre.html">O Chefe</a>
    </header>
    <main>
      <h1 id="title">Bruno Guedes</h1>
      <div id="sobre">
      <h2 id="descricaoChefe">Chefe em formação Dev FullStack NodeJS</h2>
      <img
        id="bruno"
        src="https://scontent.frbr1-1.fna.fbcdn.net/v/t1.0-9/85157417_2696812907072839_3957669585666179072_n.jpg?_nc_cat=102&ccb=3&_nc_sid=09cbfe&_nc_eui2=AeFVP6BFtiny4dyIPuMdKQNtgEaBcUcHw2KARoFxRwfDYoBctghSy5LJl5xZYHgukquVJsxS51chNIoDuaC7QIGD&_nc_ohc=l3o8TXlfAqkAX-kBrw5&_nc_ht=scontent.frbr1-1.fna&oh=943428fd758f76da7f85990f1642a25a&oe=604A99B6"
       
      /><br />
      <p>
        Por volta de 2 meses em formação, em busca de gourmetizar meu primeiro
        sistema Web em NodeJS.
      </p>
    </div>
    <div id="contato">
      <a href="https://www.instagram.com/bruguedes21/"target="_blank"
        ><img src="../public/images/instagram.png"
      /></a>
      <a href="https://www.facebook.com/bruguesil"target="_blank"
        ><img src="../public/images/Facebook.png"
      /></a>
      <a href="https://github.com/bruguedes"target="_blank"
        ><img src="../public/images/gitHub.png"
      /></a>
      <a
        href="https://api.whatsapp.com/send?phone=5568992081608&text=BG%20InforSecurity%20agradece%20pelo%20contato."
        target="_blank"
      >
        <img src="../public/images/whatsapp.png" />
      </a>
    </div>
 
    </main>
   

    <footer ><a href="sobre.html">&copy; Copyright O CHEFE</a></footer>
      
    
  </body>
</html>
